* {
  box-sizing: border-box;
}

html{
  font-size: 14px;
  min-width: 100%;
  margin: 0 auto;
}

body, button, input {
  font-family: 'Raleway', sans-serif;
 color: #2d2d2d;
 font-size: 1rem;
 font-weight: 400;
font-style: normal;
line-height: 2;
}

/*header*/

h2 {
  font-family: 'Playfair_display', serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  font-style: italic;
  text-align: center;
  padding: 1.5rem;
  font-size: 2.4rem;
}

h3 {
  font-family: 'Playfair_display', serif;
  font-weight: normal;
  font-style: normal;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  line-height: 1;
  color: #e2574c;
  text-align:center;
}

h4{
  color: white;
  font-size: 2.5rem;
  font-style: italic;
  text-align: center;
  line-height: 1;
  text-align: center;
  font-family: 'Playfair_display', serif;
  padding: 3rem;
}

.header {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  display: inline-block;
}

.container {
display: flex;
flex-wrap: wrap;
align-content: space-between;
margin: 0;
padding: 2%;
background-color: white;
/*width: 100%;*/
}

.logo {
 align-self: flex-start;
 max-width: 120px;
 padding: 20px, 0, 20, 20;
 order: 1;
}

.shopping-cart {
  align-self: flex-end;
  text-align: right;
  order: 2;
  flex: 0 1 74%;
 }

.navigation {
 justify-content:space-between;
 padding: .5rem;
 align-self: center;
 flex: 1, 0, auto;
 order: 3;
 
}

.p {
padding: 2rem;
}

.navigation a {
  font-family: 'Raleway', sans-serif;
  weight: 400;
  text-transform: uppercase;
  color: #e2574c;
  text-decoration: none;
  justify-content: space-between;
  margin: 0 1rem;
 
}

a:hover {
  color: #b64036;
}

li { 
  display: inline-block;
  margin: 0 .25rem;
  align-items: center;
  padding-left: 1rem;
}

ul {
    text-align: center;
    border-top: 1px solid #d7d7d7;
    border-width: 100%;
    padding-top: .75rem;
    display: inline-block;
    align-content: stretch;
}

.hero-banner {
  background:url(images/banner-girl.png) no-repeat center 50px, 
             url(images/flower-bkgd.jpg) repeat-x;
  background-size: contain, cover;
  filter: brightness(75%);
  width: 100%;
  max-height: 400px;
  display: flex;
}

.banner-text-container {
 position: relative;
 height: 400px;
 display: flex;
 align-content: center;
z-index: 2;
left:50%;
 background-color: rgba(0, 0, 0, .2);
}

.banner-font {
 position: absolute;
 text-align: center;
 color: #fff;
 left:50%;
 top: 50%;
 transform: translate(-50%,-50%);
 line-height: 1;
}

.about-container {
  padding: 10% 5% 12% 5%;
  margin: 0 auto;
  width: 100%;
  background-color: #fff;
  text-align: center;
  line-height: 2;
  font-size: 1.15rem;
  font-style: normal;
  font-weight: lighter;
}

.new-collection {
text-transform: uppercase;
font-size: 1.25rem;
font-family: Raleway-bold, sans-serif;
font-weight: 500px;
 align-content: center;
margin-bottom: 1.5rem;
}

.spring-summer {
text-transform: none;
font-family: Playfair Display Web,serif;
font-size: 2.5rem;
}

/*.categories {
  display: flex;
  flex-wrap: wrap;
  flex-flow: row wrap;
  flex: 1 0 100%;
  text-transform: uppercase;
  }*/

/*.categories-container {
 width: 100%;
 display: flex;
 flex-wrap: wrap;
 flex-flow: row wrap;
 flex: 1 0 100%;
 flex-basis: 100%;
} 
.mens {
 background: url(images/mens-category.jpg);
 width: 100%;
 height: 12rem;
 display: flex; 
 background-size: cover;
 background-repeat: no-repeat;
 border-bottom: 3px solid white;
 position: relative;
 flex: 2 0 100%;
}

.trends {
 background: url(images/trends-category.jpg);
 max-width: 48%;
 height: 12rem;
 display: flex; 
 background-size: cover;
 background-repeat: no-repeat;
 position: relative;
 flex-basis: 100%;
 margin:0;
 border-bottom: 3px solid white;
 border-top: 3px solid white;
 border-right: 3px solid white;
 justify-content: center;
 align-items: center;
}

.glasses {
 background: url(images/glasses-category.jpg);
 border-bottom: 3px solid white;
 border-top: 3px solid white;
 border-right: 3px solid white;
 max-width: 48%;
 height: 12rem;
 display: flex; 
 background-size: cover;
 background-repeat: no-repeat;
 position: relative;
 margin:0;
 justify-content: center;
 align-items: center;
}

.sale {
 background: url(images/sale-category.jpg);
 max-width: 48%;
 height: 12rem;
 display: flex; 
 background-size: cover;
 background-repeat: no-repeat;
 position: relative;
 margin:0;
 border-bottom: 3px solid white;
 border-top: 3px solid white;
 border-right: 3px solid white;
 justify-content: center;
 align-items: center;
}

.bags {
background: url(images/bags-category.jpg);
width: 48%;
height: 12rem;
background-size: contain;
background-repeat: no-repeat;
border-bottom: 3px solid white;
border-top: 3px solid white;
border-left: 3px solid white;
/*padding:25%;*/
/*}

.women {
 background: url(images/womens-category.jpg);
 width: 100%;
 height: 12rem;
 display: flex; 
 background-size: cover;
 background-repeat: no-repeat;
 border-bottom: 3px solid white;
 position: relative;
 border-top: 3px solid white;
 padding:25%;
}*/

.categories-container {
	max-width: 100%;
	height: auto;
	display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.categories a {
	font-family: Raleway, sans-serif;
	font-weight: 500;
  color:#fff;
	font-style: normal;
	font-size: 1.5rem;
  text-decoration: none;
	text-transform: uppercase;
  position: absolute;	
	transform: translate(-50%, -50%);
	top: 50%;
	left: 50%;
}

.mens {
	background: 
	linear-gradient(180deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
	url(images/mens-category.jpg) no-repeat;
	background-size: cover;
	max-width: 100%;
	padding-bottom: 50%;
	flex: 1 0 100%;
  box-sizing: border-box;
 -ms-flex: 2 0 100%;
  flex: 2 0 100%;
}

.trends {
	background: 
	linear-gradient(180deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
	url(images/trends-category.jpg) no-repeat;
	background-size: cover;
	max-width: 49%;
	padding-bottom: 50%;
	flex: 1 0 100%;
	position: relative;
	border: 3px solid white;
	box-sizing: border-box;
	border-left: 0px;
}

.glasses {
	background: 
	linear-gradient(180deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
	url(images/glasses-category.jpg) no-repeat;
	background-size: cover;
	max-width: 49%;
	padding-bottom: 50%;
	flex: 1 0 100%;
	border: 3px solid white;
	box-sizing: border-box;
	border-right: 0px;
	position: relative;
}

.sale {
	background: 
	linear-gradient(180deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
	url(images/sale-category.jpg) no-repeat;
	background-size: cover;
	max-width: 49%;
	padding-bottom: 50%;
	flex: 1 0 100%;
	border: 3px solid white;
	border-left: 0px;
	box-sizing: border-box;
	position: relative;
}

.bags {
	background: 
	linear-gradient(180deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
	url(images/bags-category.jpg) no-repeat;
	background-size: cover;
	max-width: 49%;
	padding-bottom: 50%;
	flex: 1 0 100%;
  position: relative;
  box-sizing: border-box;
	border: 3px solid white;
	border-right: 0px;
}

.women {
	background: 
	linear-gradient(180deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)),
	url(images/womens-category.jpg) no-repeat;
	background-size: cover;
	max-width: 100%;
	padding-bottom: 50%;
	flex: 1 0 100%;
	border: 3px solid white;
  position: relative;
	box-sizing: border-box;
  }

.product-info {
padding-bottom: 2.5rem;
}

.heading-container {
  padding-top: 2.5rem;
}

.p {
text-transform: uppercase;
color: #969696;
font-size: .75rem;
font-weight: 700;
margin-bottom: .75rem;
text-align: center;
border-bottom: 3px solid white;
padding:15%;
}

/*.main-carousel {
  box-sizing: border-box;
  width: 100%;
  max-height:10rem;
  /*margin-right: 10px;*/
 /* border-radius: 5px;
  counter-increment: gallery-cell;
 padding: 3rem 2rem;
 text-align: center;
}*/

.newsletter {
    margin-bottom: 8px;
    background: url(images/wave-bkgd.jpg) no-repeat bottom;
    filter: brightness(95%);
    min-width: auto;
}
.Styles {
  font-weight: bold;
  }

.updates {
    color: #fff;
    font-family: Raleway Web,sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 2;
    text-align: center;
}

.form {
   border-radius: 25px;
    display: block;
    margin: 2rem auto 0;
    position: relative;
    width: 90%;
    padding-bottom: 12%;
}

input[type=email] {
  padding: 1rem 1.75rem;
  padding-right: 150px;
  width: 100%;
  border-radius: 25px;
  border:0;
  position: relative;
  background-color: #fff;
}
button[type=submit] {
 background-color: #e2574c;
    color: #fff;
    font-weight: 700;
    padding: .75rem 1.5rem;
    position: absolute;
    right: .25rem;
    top: .25rem;
    border-radius: 25px;
    border: 0;
}

input[type=submit]:hover {
	background-color: #b64036;

.footer-container {
  background-color: #242424;
  color: #fff;
  text-align: center;
  overflow: hidden;
  font-family: 'Playfair Display Web', serif;
  padding: 4rem 0;
}

.address {
  color: #969696;
}

.social-media {
  font-family: 'Raleway Web', sans-serif;
  font-weight: lighter;
	color: white;
	text-decoration: none;
	align-self: flex-end;
	flex-direction: column;
	list-style: none;
	padding-left: 0;
  display: inline-flex;
	}

.social-media i {
  min-width: 25px;
}

.social-media a {
	color: white;
	text-decoration: none;
}

.email a {
  text-transform: none;
  color: #fff;
  display: inline;
}

.hide-social {
	display: none;
	}



/*@media (min-width: 400px){

}

@media (min-width:1240px){
  font-size: 16px;

}*/